version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nestjs_auth
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # optional redis (if you choose redis rate limiting)
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    build: .
    env_file: .env
    depends_on:
      - db
    ports:
      - "3000:3000"
    command: >
      sh -c "
      npm run prisma:migrate:deploy &&
      node dist/src/main.js
      "

volumes:
  pgdata:
